[2016-11-28 14:41] snicoll opened #3 "Please consider renaming the starter"
Hello,

Thanks for writing this, this looks quite interesting. We have [some rules for 3rd party starters](http://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#boot-features-custom-starter-naming). Could you please review them and rename your modules accordingly?

I can see this project is named `infinispan-spring-boot`(:+1:). Naming your starter `inifinispan-spring-boot-starter` i

[2016-11-28 14:49] snicoll commented on #3
Also, please don't use the `spring` namespace for 3rd party properties.

Did you consider submitting those changes to the spring boot project itself? I had a quick look and we would have to rework it so that it only kicks in where we are sure the user wants inifinispan. If the embedded part is in a separate jar, that may be enough....

[2016-12-02 06:32] fxviking opened #4 "Spring boot Examples"
hi,

As per the readme, a link to examples is given https://github.com/blocha/infinispan-simple-tutorials , and mentioned to look for spring boot .

But i don't see any spring boot examples there, is it not updated on the repository ?

[2016-12-05 01:01] slaskawi commented on #4
Hey @fxviking,

I plan to release the quickstarts this week and update all the links.

In the meantime, the Spring Boot tutorial is in review: https://github.com/infinispan/infinispan-simple-tutorials/pull/19

Thanks,
Sebastian

[2016-12-05 01:37] slaskawi commented on #3
Hey @snicoll,

Thanks a lot for the review! All comments addressed: https://github.com/infinispan/infinispan-spring-boot/pull/5

Long, long time ago when we were writing first Infinispan-Spring integration bits we had a discussion where to put them. Since they are tied more to our release cycle we decided to implement them in our repository. We decided follow this path also with Spring Boot and Sp

[2016-12-05 05:13] fxviking commented on #4
Ok great

[2016-12-05 05:13] #4 closed

[2016-12-06 05:59] snicoll commented on #3
Thanks for working on this!

Couldn't you embed infinispan or connect to an instance? If so, checking if the "server" classes are present (and make them optional) would be sensible IMO. I don't know it much so I am guessing at this point. Happy to help if you have questions.

[2016-12-06 06:00] snicoll commented on #3
We don't have a caching group on initializr yet so I am afraid that's not going to work for now.

[2016-12-06 07:00] slaskawi commented on #3
@snicoll I think I get you now...

Infinispan can work in 2 different modes - embedded (along with your app; this starter uses this mode) and client/server mode (a standalone server plus a client for it). Currently the starter uses only the former.

At first I didn't want to implement the latter (client/server) since it would require exactly the same configuration as our integration point. But aft

[2016-12-06 07:00] slaskawi opened #6 "Implement Client/Server mode"
Created based on discussion: https://github.com/infinispan/infinispan-spring-boot/issues/3

[2016-12-06 07:01] #3 closed

[2016-12-06 07:19] snicoll commented on #3
It does not. These are specific Spring Cloud projects.

[2016-12-06 07:24] slaskawi commented on #3
Ok, thanks a lot for the hint. I'll look into those as soon as I finish the starters.

[2016-12-06 07:30] snicoll commented on #6
I'd like this to be the same starter. If the embedded library is present that mode should kick in. Otherwise the client/server mode should apply. That way you have a single starter (important!) and adding the embedded library is all that is needed.

This is how our JMS support works. Maybe you need a bom as well for dependencies?

[2016-12-07 02:05] slaskawi commented on #6
The idea sounds really great!

[2016-12-07 02:48] slaskawi commented on #6
The code: https://github.com/infinispan/infinispan-spring-boot/pull/7
An Embedded usage: https://github.com/infinispan/infinispan-simple-tutorials/pull/20
A Remote usage: https://github.com/infinispan/infinispan-simple-tutorials/pull/20

[2016-12-07 02:49] slaskawi commented on #6
@snicoll After this gets in, I plan to release the Starters.

Please let me know if there's anything else you'd like me to look into.

[2016-12-07 08:59] snicoll commented on #6
Can you give me a few days to look into it please? I am supponsingly off the grid this week.

[2016-12-09 08:20] slaskawi opened #8 "Map Hot Rod client properties to @ConfigurationProperties"
Currently we support Hot Rod properties file. As it was discussed here, it might be beneficial to migrate them to `@ConfigurationProperties`, which turns on IDE competition.

A link to previous discussion: https://github.com/infinispan/infinispan-simple-tutorials/pull/20#discussion_r91289629

[2016-12-12 15:31] snicoll commented on #8
Also, migrating everything is probably a bad idea if you have a lot of properties. Perhaps we would expose the most commonly used options, letting the user to reference the file for advanced use cases? I don't know about it much so maybe that's a bad idea.

[2016-12-13 01:51] #6 closed

[2016-12-13 01:53] slaskawi commented on #8
Yes, we have a lot of those properties and I'm also not sure whether this should or should not be implemented. Let's leave it for now and see if there is any interest in this feature from community point of view.

[2017-01-30 12:44] jpechane opened #9 "Support placeholders in InfinispanRemoteAutoConfiguration"
If a ISPN client properties is loaded it is loaded via standard java.util.Properties. Thus the application needs to hard-code for example initial server list. It would be useful if a Spring mechanism for loading properties that supports placeholders would be used. This would allow the developer to refer to env vars/system properties and thus be provided during deployment time. Typical use case are

[2017-01-30 15:36] tristantarrant commented on #9
https://issues.jboss.org/browse/ISPN-7419
Since it is very easy to implement, I should have something ready soon.

[2017-01-30 23:21] jimmidyson opened #10 "Configure default cache"
Any hints how to configure the default cache programatically?

[2017-01-31 09:06] slaskawi commented on #10
Infinispan auto-configuration kicks in only [if there's no `EmbeddedCacheManager`](https://github.com/infinispan/infinispan-spring-boot/blob/master/inifinispan-spring-boot-starter-autoconfigure/src/main/java/infinispan/autoconfigure/embedded/InfinispanEmbeddedAutoConfiguration.java#L24). You might create it yourself and supply the default configuration into the constructor:

[code]

[2017-01-31 09:14] jimmidyson commented on #10
Aha! Perfect thanks!

[2017-01-31 09:14] #10 closed

[2017-01-31 09:31] slaskawi commented on #9
Actually this can be done purely in Spring.

Spring supports injecting ([please have a look here for more information](https://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-external-config.html#boot-features-external-config)). Then you need to take this property and manually create a `InfinispanRemoteConfigurer` as shows [here](https://github.com/slaskawi/presentations/blob/

[2017-02-01 07:56] jpechane commented on #9
I know and I use it - but still it is kind of a code duplication. And parameter tuning means code recompilation (if I need to add a new one) instead of just a change in deployment.

[2017-02-01 09:00] slaskawi commented on #9
Granted. In that case [ISPN-7419](https://issues.jboss.org/browse/ISPN-7419) could be a solution for your problem or alternatively we could have another look at https://github.com/infinispan/infinispan-spring-boot/issues/8.

The only problem with https://github.com/infinispan/infinispan-spring-boot/issues/8 is that we have [lots of those properties](https://github.com/infinispan/infinispan/blob/ma

[2017-02-17 10:58] slaskawi opened #14 "`SpringRemoteCacheManager` is not created by default"

[2017-02-17 12:31] #14 closed

[2017-02-17 12:32] slaskawi opened #16 "Update documentation about Spring Cache automatic instantiation"

[2017-02-21 12:58] slaskawi commented on #16
Also, the READ.ME link points to wrong tutorials repo: https://github.com/blocha/infinispan-simple-tutorials

[2017-02-24 05:56] slaskawi opened #17 "Update Spring documentation"
There are at least 2 spots which need to be updated:
* http://docs.spring.io/spring-boot/docs/1.4.1.RELEASE/reference/htmlsingle/#boot-features-caching-provider-infinispan
* https://github.com/spring-projects/spring-boot/tree/master/spring-boot-samples/spring-boot-sample-cache

[2017-02-24 05:56] slaskawi opened #18 "Update the READ.ME with Spring Cache"

[2017-02-24 05:57] slaskawi opened #19 "Move code to proper packages"

[2017-02-28 11:25] #16 closed

[2017-02-28 11:27] slaskawi commented on #18
Duplicate of https://github.com/infinispan/infinispan-spring-boot/issues/16

[2017-02-28 11:27] #18 closed

[2017-02-28 11:29] slaskawi commented on #9
@jpechane This should already be available in `9.0.0.CR1`. We recently released `9.0.0.CR2`. Could you please check if it works and if it solves your needs?

[2017-03-13 14:30] slaskawi commented on #17
The [Spring Caching](https://github.com/spring-projects/spring-boot/blob/master/spring-boot-samples/spring-boot-sample-cache/pom.xml#L119-L131) documentation doesn't need updating. If we wanted to use Spring Boot Starters there, we would need to introduce 3 dependencies:
* Infinispan Spring Boot Starter
* JCache (since the demo is based on JCache...)
* And Infinispan Spring Embedded artifact.

So

[2017-03-13 14:43] slaskawi commented on #17
Submitted both pull requests. Let's wait for some update...

[2017-03-14 09:50] slaskawi commented on #17
PR: https://github.com/spring-projects/spring-boot/pull/8592

[2017-03-14 11:26] #8 closed

[2017-03-14 11:27] #9 closed

[2017-03-27 13:08] slaskawi opened #23 "Support spring.config.type property"
[The Spring Team suggested](https://github.com/spring-projects/spring-boot/pull/8592#issuecomment-288075297) that we could detect `spring.config.type` and detect Infinispan Caching support automatically. This way we could remove the code duplication between our teams.

[2017-05-18 15:48] lburgazzoli opened #24 "Missing properties description in spring boot metadata"
As InfinispanProperties does not have javadoc on fields, the auto generated metadata does not contain a description for properties. This information is not mandatory but could improve the contextual help provided by IDEs.

[2017-05-19 06:21] #24 closed

[2017-05-25 09:54] lburgazzoli opened #29 "Auto discovery embedded cache configurations"

[2017-05-25 12:40] slaskawi opened #31 "Create separate starters for embedded and client/server mode"

[2017-05-31 08:22] lburgazzoli commented on #29
Done by #30

[2017-05-31 08:23] #29 closed

[2017-05-31 08:39] lburgazzoli opened #32 "Cleanup tests"
I have [branch](https://github.com/infinispan/infinispan-spring-boot/compare/master...lburgazzoli:test-cleanup?expand=1) with some "tests" clean-up:

- reduce the noises caused by spring boot (i.e. the banner)
- redirect the output to a file so only test results are shown
- mark all test with @DirtiesContext to avoid clashes
- leverage @SpringBootTest's properties

I'll open a PR if it makes sense

[2017-05-31 08:42] slaskawi commented on #32
Yes it does, please do so!

On Wed, May 31, 2017 at 10:39 AM Luca Burgazzoli <notifications@github.com>
wrote:

--

SEBASTIAN ŁASKAWIEC

INFINISPAN DEVELOPER

Red Hat EMEA <https://www.redhat.com/>
<https://red.ht/sig>

[2017-06-30 07:36] #32 closed

[2017-06-30 07:37] lburgazzoli commented on #19
I have some spare time to work on this, what would be the proper packages ?

[2017-07-06 07:38] lburgazzoli commented on #31
Done via PR #34

[2017-07-06 08:57] lburgazzoli commented on #23
I've create an experimental [branch](https://github.com/lburgazzoli/infinispan-spring-boot/commit/b6279cf457540cc0984600e9d3136df02096f6a7) for this issue in which there is an additional check that does:

[code]
Assumptions:
- the name of the property should be ``spring.cache.type`` not ``spring.config.type``
- if one sets ``spring.cache.type = INFINISPAN`` ifinispan's own starters take the preced

[2017-07-07 06:51] slaskawi commented on #23
That's really interesting @lburgazzoli!

I believe you implemented the correct approach (when both starters are on classpath, our kicks in). May I ask you to issue a PR? After we merge it, we could do some testing with different examples and if everything is ok, do the `2.0.0.Alpha1` release.

So the original Spring Boot starters seem to favor embedded use case over remote. I think that would be O

[2017-07-07 06:53] slaskawi commented on #19
I thought about moving stuff to `org.infinispan.spring.starter.*`. But honestly now I'm having second thoughts whether this is still important since remote and embedded starters are in separate jars.

Let me think about it a little but more but for now I lean towards to closing this issue without any changes.

[2017-07-07 06:53] #31 closed

[2017-07-07 07:33] lburgazzoli commented on #23
I will open a PR soon and yeah, I do not see any major issue because of the embedded cache created by spring boot, the only thing is that you may end up having both a remote and an embedded cache manager that may be not what you want.

[2017-07-07 07:39] slaskawi commented on #23
The cool thing is that with our extension you can disable both separately. Also created (but not started) DefaultCacheManager doesn't consume that much of the resources. It think it should be a bit deal.

[2017-07-07 07:43] lburgazzoli commented on #23
PR opened

[2017-07-10 07:43] Tempys opened #36 "add infinispan-spring-boot-starter-remote to maven"
Please add this dependency to maven

[2017-07-11 06:23] #23 closed

[2017-07-11 06:25] slaskawi commented on #36
Please note, that version currently checked into `master` branch is in development phase. The `infinispan-spring-boot-starter-remote` artifact will be present in `2.0.0.Alpha1`, which should happen fairly soon. Stay tuned...

[2017-07-17 13:53] #19 closed

[2017-07-20 18:13] slaskawi opened #38 "Avoid `getBean` method in `Infinispan*CacheManagerChecker` classes"
Currently `InfinispanRemoteCacheManagerChecker#hasConfigurer` and `InfinispanRemoteCacheManagerChecker#hasConfiguration` methods use `conditionContext#getBeanFactory()#getBean` methods. This causes problems with injecting `Environment` or processing `@Value`s in client's configuration. Here's an example:

[code]

In the example above the `serverList` field will expand to `null` and this warning wi

[2017-07-20 18:14] slaskawi commented on #38
Of course There's an easy work around for this specific example: use `System#getenv` :D

[2017-07-20 18:14] slaskawi commented on #38
//cc @lburgazzoli Just in case you were interested in this...

[2017-07-21 06:29] lburgazzoli commented on #38
Would that work if we move the bean check on a condition extending AnyNestedCondition ?
Like:

[code]

[2017-07-21 06:50] slaskawi commented on #38
I don't think so. The root cause is [this construct conditionContext.getBeanFactory().getBean(InfinispanRemoteConfigurer.class)](https://github.com/infinispan/infinispan-spring-boot/blob/master/infinispan-spring-boot-starter-remote/src/main/java/org/infinispan/spring/starter/remote/InfinispanRemoteCacheManagerChecker.java#L26). But it should be possible to go through the BeanDefinitions (created b

[2017-07-21 07:02] lburgazzoli commented on #38
for my understanding, according to the doc @ConditionalOnBean should check if the bean class/name is already contained int he BeanFactory so it should effectively do the same as inspecting the bean definitions, am I missing something ?

[2017-07-21 07:05] slaskawi commented on #38
Got you now. Interesting idea. It's worth to check it out.

[2017-07-21 07:12] lburgazzoli commented on #38
Is there an unit test for this ?

[2017-07-21 07:29] slaskawi commented on #38
Unfortunately not. But it would be trivial - just create a `@Configuration` with `InfinispanRemoteConfigurer` and inject `ApplicationContext` or `Environment` to this configuration class.

BTW - I'll be travelling for the next a couple of days, so I will be able look into it in a week. If you have a free slot (and if this issue is interesting to you), feel free to implement it.

[2017-07-21 12:28] lburgazzoli commented on #38
I've opened a PR, it may need a little beet of cleanup but it appears to work.

[2017-07-31 12:54] lburgazzoli commented on #38
Fixed by a1f7c884b79493086c63a8dcafead069e991b01c

[2017-07-31 12:54] #38 closed

[2018-01-09 14:24] geoand opened #40 "Spring Cache issue"
Hi,

I am investigating how Infinispan can be used with Spring Boot and following the instructions in the README, I noticed the following:

Although the README mentions that `infinispan-spring4-remote` or `infinispan-spring4-embedded` are needed only when integration with Spring-Session is desired and no mention of these artifacts is made when a simple integration with Spring Cache is needed, I wa

[2018-01-09 14:31] slaskawi commented on #40
Both artifacts (the Spring integration [embedded](https://github.com/infinispan/infinispan-spring-boot/blob/master/infinispan-spring-boot-starter-embedded/pom.xml#L27-L29) and [remote](https://github.com/infinispan/infinispan-spring-boot/blob/master/infinispan-spring-boot-starter-remote/pom.xml#L26-L29)) should be pulled transitively by Maven. Could you please tell me more how do you build your pr

[2018-01-09 14:38] geoand commented on #40
I just included the following dependencies

[code]

using

[code]

I am using [this](https://github.com/snowdrop/spring-boot-booster-parent) following Maven parent.
I will also try the configuration using the default Spring Boot parent and report back

[2018-01-09 14:44] slaskawi commented on #40
Right... I know what happened...

A while ago we decided to split this started into two - remote and embedded. Starting from that point you only need to specify only one dependency - `infinispan-spring-boot-starter-embedded` or `infinispan-spring-boot-starter-remote`.

The code moved forward but it seems we didn't update the docs nor the [tutorial](https://github.com/infinispan/infinispan-simple-t

[2018-01-09 14:47] geoand commented on #40
I see! Thanks for the info!
I will try it out and once I get it working, I will create a PR with the new instructions.

[2018-01-09 15:21] geoand commented on #40
I just opened PR #41 :)

[2018-01-10 10:21] #40 closed

[2018-02-24 19:05] heruan opened #42 "Use with WildFly cluster"
It is not clear how to integrate with a WildFly cluster Infinispan cache.

How can I use in my Spring app the clustered cache provided by the WildFly container?

[2018-02-26 07:49] slaskawi commented on #42
Whenever you define a cache in Wildfly, you can assign JNDI name to it (see [this](https://docs.jboss.org/author/display/WFLY10/Infinispan+Subsystem) manual entry). Once you deploy you spring app, you can do a JNDI lookup and grab the cache directly from it. Here's another great [article](http://blog.infinispan.org/2011/07/infinispan-in-jboss-as7.html) (even though, quite old one).

This starter t

[2018-03-08 01:27] hildo opened #43 "Customizers aren't being used?"
Hi.  I'm using 2.0.0 of the starter, and I've been able to use the starter to set up an EmbeddedCacheManager.  When I attempt to run my tests (which repeatedly start and stop my processes), I get a bunch of exceptions like this, which prevent my spring boot process to start more than once...

[code]

It looks like JMX errors, which I don't really need.  So I've attempted to use a GlobalConfigurati

[2018-03-08 01:47] hildo commented on #43
I have been able to work around this issue by defining the global configuration within an XML file and use the XML file instead of the Spring Beans.  But I would prefer to use Spring Beans (as is the preference in Spring Boot applications) to achieve this instead.

[2018-03-08 02:15] hildo commented on #43
The problem here was not the AutoConfiguration.  The root cause of this issue was how my test application was configured to scan for Configuration classes.  In my "proper" application, the customizers were picked up fine because my configuration class was loaded.  In my Spring Test / Junit tests where I was having the problem, however, it didn't include my configuration class.

Once I update my Te

[2018-03-08 02:15] #43 closed

[2018-03-09 08:37] galderz commented on #43
This `org.infinispan.jmx.JmxDomainConflictException` issue has been fixed in Infinispan 9.2.0.Final. I also did a [blog post](http://blog.infinispan.org/2018/01/easier-infinispan-clusters-on-same-jvm.html) about it a couple of months back.

[2018-03-14 15:04] erikkemperman opened #44 "New release?"
It seems 2.0.0.Alpha1 is from a while ago, in the meantime there were significant bumps to spring-boot as well as infinispan parts. Any chance of a new release of the starters?

Thanks in advance!

[2018-03-29 13:36] vadimkim opened #45 "Complete configuration for remote sessions"
Hello,
    I have Infinispan remote cluster with "mySessions" cache to store HTTP sessions. Following the documentation I did:
1. Added this project to maven dependencies
2. Added spring-sessions to maven dependencies
3. Added hotrod.configuration.Configuration bean with connection parameters to remote (Hotrod client used with authentication and TLS)
4. Added `@EnableCaching` and `@EnableInfinispa

[2018-03-29 13:39] slaskawi commented on #45
The main problem is located here:

[code]

Could you please run `mvn dependency:tree` and verify if the Hot Rod client artifact version matches your server?

[2018-03-29 13:45] vadimkim commented on #45
I got this:
[code]
I am also using infinispan 9.2.0.Final version. Manual test with remote cache manager works. I have simple POJO class inside this project with main() methods that calls Infinispan directly.

[2018-03-29 13:48] slaskawi commented on #45
Ok, everything looks good.

Would you be able to build a small reproducer for me? So that I could run it against `docker run jboss/infinispan-server:9.2.0.Final`.

[2018-03-29 13:56] vadimkim commented on #45
I think it is easier to start from manual test and create spring boot configuration that does exactly the same. Here it manual working test:

[code]
TestCallHadler class:
[code]
Basically I need the same, but with spring boot and annotations. If you need Infinispan cloud.xml -- let me know - I will upload it somewhere. It is rather big

[2018-03-29 13:59] vadimkim commented on #45
Here how I customized the bean:
[code]

[2018-03-29 14:02] vadimkim commented on #45
And the Controller
[code]

[2018-03-29 14:04] slaskawi commented on #45
I'm not an authentication expert (maybe @tristantarrant could chime in) but could you please simplify the authentication configuration to something like this:

[code]

I have a gut feeling that the error message you see is connected to authentication somehow. If that won't work I'll try to check it tomorrow or on Tuesday...

[2018-03-30 08:35] vadimkim commented on #45
@slaskawi due to easter holiday I will be able to do the test again on Monday. I also have a feeling that it is a kind of protocol mismatch or truststore is not loaded correctly. I don't want to disturb @tristantarrant with such a small configuration problem unless this issue is really connected to infinispan.

[2018-03-30 13:17] slaskawi commented on #45
I created a complete reproducer of this case here: https://github.com/slaskawi/infinispan-spring-session-reproducer-45

It seems that project configuration is correct. Spring Boot Starter correctly works with Spring Session. The reason this doesn't work must be either in Authentication or Encryption. I would advice turning encryption off and trying out authentication. If that works, try encryption

[2018-04-02 07:55] vadimkim commented on #45
@slaskawi Thank you for the example! It makes me to go a bit further. Now I am sure that problem is somehwere at encryption. On the server side when I enable SSL/TLS I got this:
[code]

[2018-04-02 09:03] vadimkim commented on #45
I have found the error:  If application has hotrod-client.properties file at resources that information overrides the Configuration of the application. Particualrly this class/method has a problem:

Since it is not possible to define SSL/TLS settings (or authentication) at hotrod-client.properties I think this information should be either merge-d or some preference should be defined. May be user w

[2018-04-04 08:58] vadimkim commented on #45
I have created pull-request. The main idea is - if there is a remote configuration defined by `@Bean` then hotrod-client.properties and all other variants are ignored.
I think merge logic is more complex and error prone and should be avoided.

[2018-04-05 15:06] slaskawi commented on #44
Thanks for the reminder! https://github.com/infinispan/infinispan-spring-boot/releases/tag/2.0.0.Beta1

[2018-04-05 15:06] #44 closed

[2018-04-05 15:07] slaskawi commented on #36
All the bits have been released. Please note that JBoss Nexus sync takes a while. See https://github.com/infinispan/infinispan-spring-boot/releases/tag/2.0.0.Beta1

[2018-04-05 15:07] #36 closed

[2018-04-05 18:26] erikkemperman commented on #44
Thanks!!

[2018-04-06 10:56] erikkemperman commented on #44
@slaskawi Ah, sorry, I had expected the dependencies would be upgraded?

https://github.com/infinispan/infinispan-spring-boot/blob/master/pom.xml#L41-L43

I would like to use this with spring-boot 2 and infinispan 9 :-)

[2018-04-06 11:29] slaskawi opened #47 "Add encryption settings to `InfinispanRemoteConfigurationProperties`"
Handled by https://github.com/infinispan/infinispan-spring-boot/pull/56

[2018-04-09 07:03] slaskawi commented on #44
That's a good point. However you can always to this manually by specifying both BOMs in your `dependencyManagement` section:

[code]

[2018-04-09 07:11] erikkemperman commented on #44
Thanks, at the moment our POM is a child of spring-boot-dependencies (indirectly, via spring-platform), so that should be pretty close to what you suggest -- but we are using infinispan artifacts directly, not through its BOM. I'll try that when I find some time.

My previous attempt failed on some bean creation, and my first thought (but didn't track it down completely because I was in a hurry) w

[2018-04-10 08:26] #45 closed

[2018-05-07 01:39] slaskawi opened #48 "Provide automatic translation of Hot Rod client properties into Spring YAML"
Currently we manually translate some of the Hot Rod client properties into Spring YAML. This will be a pretty big maintenance burden in the future. We need to figure out a way to translate *all* of the properties into Spring format.

[2018-05-07 10:32] juliojgd commented on #48
Hi, I agree. In my current project, client has requested to be able to set any hotrod client property through Spring Yaml with no need to write the hotrod.properties file.
What we've done is:
1.-Load from Spring yaml into a ConfigurationProperties object below our custom property namespace:
client-root:
  common:
     cache:
        hotrod-client:
            [all-hotrod-client-properties-here-eve

[2018-05-07 16:04] slaskawi commented on #48
Yes, that sounds really good.

The only thing that needs a thought is the prefix for Hot Rod client properties. Currently we use [this](https://github.com/infinispan/infinispan-spring-boot/blob/master/infinispan-spring-boot-starter-remote/src/test/resources/test-application.properties):

[code]

Since it nicely separates embedded and remove, I think we should preserve them.

@juliojgd Do you have

[2018-05-08 10:30] juliojgd commented on #48
@slaskawi Sure, let me polish the code and I'll contribute the PR.
I was thinking about this:
Prefix `infinispan.remote.hotrod-client` prefix as they are not only "remote" properties but also related specifically with the Hotrod client and its connection pool.
So, sample:

[code]
I know the names of the second group are somehow redundant but this is the most straightforward way I found to configur

[2018-05-08 21:07] rgordill commented on #48
In my opinion, naming convention should be simple and consistent with other spring cache alternatives. According with https://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-caching.html#boot-features-caching-provider-infinispan, they propose the prefix:

spring.cache.infinispan

So I will keep that, using embedded or remote depending on the use case. To uniform more with spri

[2018-05-10 01:49] slaskawi commented on #48
Ok, let me navigate back a little bit and clear some things out. At first we have a set of properties from `hotrod-client.properties` file. They look like that:

[code]

You can fine the full list [here](https://github.com/infinispan/infinispan/blob/master/client/hotrod-client/src/test/resources/hotrod-client.properties).

The next thing are Spring Boot `application.yaml` properties. They look at

[2018-05-10 09:04] tristantarrant commented on #48
I wouldn't go out of my way to conjure up new names for properties just for the sake of changing them.

[2018-06-21 09:36] snicoll opened #49 "Consider adding Spring Boot 2 support"
Relates to https://github.com/spring-projects/spring-boot/issues/13510

We are reviewing our [community starters list](https://github.com/spring-projects/spring-boot/blob/7683d346e31bbe0313a03ce487ee59454665a143/spring-boot-project/spring-boot-starters/README.adoc) and a quick look here suggests that this starter doesn’t yet support Spring Boot 2.

Can you please let us know if/when you plan to su

[2018-06-25 09:58] galderz commented on #49
https://github.com/infinispan/infinispan-spring-boot/pull/50

[2018-06-29 10:42] galderz commented on #49
@snicoll PR has been integrated and the starter now uses Spring Boot 2. Anything else you need from us?

[2018-07-04 11:51] vadimkim opened #51 "More information (example) for @EnableInfinispanEmbeddedHttpSession is needed"
Hi !
I have created application and initialized EmbeddedHttpSession infinispan correctly (I suppose, because Spring Boot is running). Here is cache Configuration class:
[code]
To debug cache I have registered REST controller URL and injected cacheManager there
[code]
I use HttpSession instance with getAttribute() and setAttribute() to get/put objects into cache. As I understood Spring  should tran

[2018-07-05 05:37] vadimkim commented on #51
I think there is an issue at both `@EnableInfinispanEmbedded(Remote)HttpSession` implementations. Particularly according to spring-session documentation [httpsession-how](https://docs.spring.io/spring-session/docs/current/reference/html5/#httpsession-how) implementation should register Filter and extend HttpServletRequestWrapper to implement custom HttpSession. Otherwise HttpSession will not see c

[2018-07-05 07:48] slaskawi commented on #51
The implementation of Spring Session is based on Infinispan's `SpringCache` [1]. This object is being created by `SpringEmbeddedCacheManager` or `SpringRemoteCacheManager`, and acts as an implementation for `org.springframework.cache.CacheManager`. So in essence, you should be using the same `SpringCache`s, created by the same `CacheManager` for both, caching support and Spring Session support. Th

[2018-07-05 10:20] vadimkim commented on #51
Thank you for the hints, @slaskawi !
There were really 2 different objects, because I have created EmbeddedCacheManager using Spring constructor injection like this:
[code]
It crates new instance that is not connected to Spring Sessions
Correct way (I hope) of doing this is like that:
    private CacheConfigurationDefault cacheConfigurationDefault;

[code]
I think you can close the issue because I

[2018-07-05 10:20] #51 closed

[2018-07-10 09:16] #49 closed

[2018-07-24 08:20] vadimkim commented on #48
Hi, what is the status of this task right now? Should I use approach of @juliojgd  or it can be done in a better way?

[2018-07-24 12:51] tristantarrant commented on #48
In order to reduce the amount of boilerplate code and centralize this kind of thing I think we should enhance the https://github.com/infinispan/infinispan/blob/master/client/hotrod-client/src/main/java/org/infinispan/client/hotrod/impl/ConfigurationProperties.java class with setters for all properties. At this point, https://github.com/infinispan/infinispan-spring-boot/blob/master/infinispan-sprin

[2018-07-24 13:39] rgordill commented on #48
There is a risk of misalignment between properties and the springboot configuration properties. I think it would be less risky if we can add an annotation on the ConfigurationProperties.java, that automatically adds the springboot configuration.

WDYT?

[2018-07-24 13:43] tristantarrant commented on #48
That is exactly what I propose, but I'd keep the Spring annotation on InfinispanRemoteConfigurationProperties:
`@ConfigurationProperties
public class InfinispanRemoteConfigurationProperties extends org.infinispan.client.hotrod.impl.ConfigurationProperties {}`

[2018-07-24 14:04] rgordill commented on #48
+1

[2018-07-24 14:06] tristantarrant commented on #48
https://issues.jboss.org/browse/ISPN-9398

[2018-07-26 05:38] vadimkim opened #53 "No CacheResolver specified, and no unique bean of type CacheManager found"
I have Spring Boot application with HttpSession support. It runs with local _development_ profile and `@EnableInfinispanEmbeddedHttpSession ` successfully. For production we use _kubernetes_ profile and `@EnableInfinispanRemoteHttpSession` to connect to remote Infinispan cluster. Connection to the server is made, but cache manager seems to be duplicated (as I understood)
[code]
My cache configurat

[2018-07-26 07:37] vadimkim commented on #53
I was able to eliminate exception by adding `@Primary` annotation to SpringRemoteCacheManagerFactoryBean.
Still have this warning:
`
2018-07-26 06:48:40.139  WARN 5 --- [           main] o.i.manager.DefaultCacheManager          : [] [] ISPN000435: Cache manager initialized with a default cache configuration but without a name for it. Set it in the GlobalConfiguration.
`
Doesn't look like clean ini

[2018-07-26 08:00] vadimkim commented on #53
As I understood there are still 2 CacheManagers initialized:
1. DefaultCacheManager
2. SpringRemoteCacheManager initialized by SpringRemoteCacheManagerFactoryBean which is now primary.

Can I (should I) eliminate DefaultCacheManager?

[2018-07-26 08:30] slaskawi commented on #53
Indeed, it seems you're using at least 2 `CacheManager`s. The Infinispan Spring Boot Extension tries to automatically initialize `CacheManager` if it's not there (see (1)(2)). It looks like your setup doesn't need that, so you might turn it off by specifying `infinispan.embedded.enabled = false` and `infinispan.remote.enabled = false`.

(1) https://github.com/infinispan/infinispan-spring-boot/blob

[2018-07-26 08:53] vadimkim commented on #53
That's worked like a charm! Thank you @slaskawi

[2018-07-26 08:53] #53 closed

[2018-07-27 10:14] omverma22 opened #54 "Infinispan : Best way to implement cache in auto scaling mode in aws."
Dear All,
                    We have deployed our servers into aws environment and running 2 instances of each server module. For example we have 2 spring boot jars running in 2 different instance. Load balancer are in placed to route the requests. We need to implement the cache which will keep the data updated in every instances. So when any data get updated it should update all other instances

[2018-08-03 11:16] galderz commented on #54
Not an issue. This is a question that should be directed to [Infinispan user forums](https://developer.jboss.org/en/infinispan/content?filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D). Even then, this is very vague request ;)

[2018-08-03 11:16] #54 closed

[2018-08-17 15:35] karesti commented on #48
https://issues.jboss.org/browse/ISPN-9437

[2018-08-21 20:01] karesti commented on #17
The PR has been closed on spring side

[2018-10-22 13:57] #48 closed

[2018-10-22 13:57] #47 closed

[2018-10-25 22:49] kgilmer opened #63 "Document accessing Infinispan cache metrics via Spring Actuator"
I am able to access cache metrics with the Caffeine cache backend but when I swap in Infinispan I get no cache metrics.  In searches I was unable to find any definitive information on how to make this work with Spring Boot 2.0 and Infinispan.  I am able to access the metrics directly via a bean that retrieves the stats from org.springframework.cache.CacheManager but would prefer to consume the met

[2018-10-30 20:41] kgilmer commented on #63
Hi @galderz , well for me I was simply trying to view cache statistics via Spring Actuator.  When configuring my application w/ Caffeine, I was able to get these metrics out of the box.  When switching backends to Infinispan, I was not able to find any metrics.  I'm guessing it's a configuration issue but was unable to find any documentation that lead me to a solution.

[2018-10-31 18:43] karesti commented on #63
@kgilmer hi, are you using this starter?

[2018-10-31 18:45] #17 closed

[2018-10-31 20:17] kgilmer commented on #63
hi @karesti I am using this Infinispan dependency w/ Spring Boot 2.0.6:

[code]

[2018-11-02 10:04] karesti commented on #63
@kgilmer Maybe something is missing from our side! I've created a ticket to handle this
https://issues.jboss.org/browse/ISPN-9668

[2018-11-07 21:07] karesti commented on #63
@kgilmer the pr will be integrated soon and I will release 2.1 version of the starter

[2018-11-08 14:02] karesti commented on #63
integrated

[2018-11-08 14:03] #63 closed

[2018-11-08 15:48] kgilmer commented on #63
Thanks for the notice Katia!

On Thu, Nov 8, 2018 at 6:03 AM Katia Aresti <notifications@github.com>
wrote:

[2018-11-16 08:14] renierr opened #67 "InfinispanCacheMeterBinderProvider is always created and causes CastException if infinispan is not enabled"
The InfinispanCacheMeterBinderProvider Actuator cast to the native Cache always if bean exist.
This is the Case if you depend on the starter.

But if you change the cache type in Spring to 'simple' this binder will cause an Class Cast Exception.

Solution would be to check if infinispan Cache is enabled or if cache type is 'infinispan'

[2018-11-16 09:09] renierr opened #68 "@ComponentScan included inside auto configuration classes"
an  @ComponentScan annotation is set on the auto config classes without any include.
this makes it impossible to exclude the @Component annotated classes - see ticket 67

[2018-11-16 09:42] renierr commented on #68
The only way i found is to disable the auto config classes as well

infinispan:
  embedded:
    enabled: false
    cache:
      enabled: false

[2018-11-16 10:39] karesti commented on #67
Thank you for the reporting! The InfinispanCacheMeterBinderProvider is supposed to be created only when actuator dependencies are in the classpath. But anyway, there is a problem concerning the cache type too. I will open a JIRA

[2018-11-16 10:40] karesti commented on #68
I will open a JIRA here too, thank you!

[2018-11-16 14:58] karesti commented on #67
https://issues.jboss.org/browse/ISPN-9735

[2018-11-21 16:02] karesti commented on #68
@renierr I'm working on the ticket #67 bug I will see this issue after

[2018-11-28 12:34] fragonib opened #74 "Compatibility issue between infinispan-spring4-embedded and spring-session"
Hello,

I'm getting an exception when I try to use a web session backed on a infinispan datagrid from a servlet controller. The exception shows itself as follows:

[code]

Here there is a simple project with a test that manifest this error:
https://github.com/fragonib/infinispan-spring-boot-starter-issue

Could  `infinispan-spring-boot-starter:2.1.0.Final` have a compatibility issue during the int

[2018-12-03 14:04] karesti commented on #74
@fragonib Hi, yes, indeed, there is an incompatibility. infinispan-spring4-embedded-9.4.0.Final brings another spring session version. I have to fix this issue, and specially, we need to use infinispan 10 (coming next year) to avoid any incompatibility.
Thanks for opening the issue, I will handle it

[2018-12-03 14:05] karesti commented on #74
https://issues.jboss.org/browse/ISPN-9625

[2018-12-06 11:13] DanielFran commented on #74
@karesti  you mean related with https://issues.jboss.org/browse/ISPN-7035 ?

@fragonib The fix is on is way: https://github.com/infinispan/infinispan/pull/6496

Waiting for next version to integrate in jhipster project: https://github.com/jhipster/generator-jhipster/issues/8683

[2018-12-06 12:05] karesti commented on #74
yes, that's right, thanks for the input @DanielFran

[2018-12-08 20:41] DanielFran commented on #67
@karesti I have this error using spring-boot 2.1.1 + infinispan 9.4.4.Final + infinispan-spring-boot 2.1.0.Final:

Is this the same issue related here?

[2018-12-08 20:54] karesti commented on #67
Yes, I think so. I did not take into account when implementing that people might use JCache API.
I'm fixing this issue straight after integrating with spring 5! (I have a PR already prepared...)

[2018-12-08 21:11] karesti commented on #74
@DanielFran I realised now I copied the wrong link, the issue I was referring to was ISPN-9789

[2018-12-10 14:47] karesti commented on #74
I released 2.1.1.Final, soon it will be in maven central. Let me know if it works!

[2018-12-10 14:47] karesti commented on #74
I will let it open, this issue, til I get your feedback @fragonib and @DanielFran

[2018-12-10 14:52] DanielFran commented on #74
@karesti I updated project but still waiting for new version to be available in Maven Center (https://travis-ci.org/jhipster/jhipster/jobs/465999815)

Will let you know.

[2018-12-10 14:54] karesti commented on #67
Correction has been merged and released with 2.1.1.Final, let me know if it works

[2018-12-10 14:56] karesti commented on #68
@renierr I integrated the #67 that was related. The flags you mentioned above is the way it is supposed to work. Let me know if you see any other issue. Closing this now

[2018-12-10 14:56] #68 closed

[2018-12-11 09:54] DanielFran commented on #67
@karesti The release his still not available. Can you check if there was any issue?
Thanks

[2018-12-11 10:05] karesti commented on #67
@DanielFran Oh! Are you sure? I see it in maven central
https://search.maven.org/artifact/org.infinispan/infinispan-spring-boot-starter-embedded/2.1.1.Final/jar

[2018-12-11 10:06] karesti commented on #67
https://search.maven.org/search?q=g:org.infinispan%20AND%20a:infinispan-spring-boot-starter&core=gav

[2018-12-11 10:32] DanielFran commented on #67
I still have issues in travis: https://travis-ci.org/jhipster/jhipster/jobs/465999815#L3132

Maybe it is some cache, I will check. Thanks

[2018-12-12 10:42] karesti commented on #67
@DanielFran need any help for the failure ?

[2018-12-12 11:04] karesti commented on #67
@DanielFran I saw you merged already, let me know please for the class cast exception and any other issue related.

[2018-12-12 23:09] karesti commented on #67
Any time. We are in zulip chat for a fast contact and chat if you need it.

[2018-12-12 23:09] #67 closed

[2018-12-12 23:11] karesti commented on #74
Spring session with the last version is integrated now I’m closing this

[2018-12-12 23:11] #74 closed

[2019-01-09 10:56] karesti opened #88 "Upgrade to SB 2.1.2.RELEASE"
https://issues.jboss.org/browse/ISPN-9855

[2019-01-14 16:03] #88 closed

[2019-01-23 14:31] karesti opened #92 "Actuator bug in Remote cache"
```RemoteInfinispanCacheMeterBinderProvider``` instanceof  check is not properly done.

https://issues.jboss.org/browse/ISPN-9902

[2019-01-23 14:39] karesti commented on #92
@florianika I added this issue, thanks for reporting, this will be fixed and released very soon

[2019-01-24 10:42] karesti opened #95 "Migrate from JUnit 4 to 5 and add IT tests"
* Migrate from Junit 4 to 5
* Add IT tests to cover Remote Cache tests with a server

https://issues.jboss.org/browse/ISPN-9899

[2019-01-24 11:10] #92 closed

[2019-01-24 15:49] karesti opened #96 "Upgrade to Infinispan 9.4.6.Final"
When the release will be in maven central
https://issues.jboss.org/browse/ISPN-9913

[2019-01-30 10:55] #95 closed

[2019-01-30 14:14] #96 closed

[2019-02-13 23:27] DanielFran opened #101 "Upgrade to SB 2.1.3.RELEASE"
Expected to be delivered next Feb 15th: https://github.com/spring-projects/spring-boot/milestone/133

[2019-02-21 09:23] #101 closed

[2019-03-13 02:39] a544793138 opened #105 "How can "invalid mode can be used with shared cache storage." ？"
Hello, I have a springboot project used infinispan to run the invalidation mode under the cluster for cache.

In fact, I saw `"In invalidation, the caches on different nodes do not actually share any data"` and now I am in this situation. Although I use the method you provided: `Cache.putForExternalRead(key, value)` and method can solve the problem that when I puts the data into the cache of the N

[2019-03-13 09:30] karesti commented on #105
Hi, we don't use issues for infinispan questions. Would you please use zulip  or stackoverflow for questions, please? https://infinispan.zulipchat.com
Meanwhile, I will grab a look to invalidation mode + spring support in infinispan. thanks!

[2019-03-13 09:30] #105 closed

[2019-03-13 10:20] karesti opened #106 "upgrade infinispan to 9.4.11.Final"
Infinispan lastest is now 9.4.11.Final

[2019-03-25 19:56] DanielFran opened #109 "Upgrade to spring-boot 2.1.4"
New version expected Apr-03: https://github.com/spring-projects/spring-boot/milestones

[2019-03-28 10:20] #106 closed

[2019-04-04 08:06] #109 closed

[2019-04-25 06:27] mingfer opened #114 "Cannot import infinispan-core 9.4.11.Final"
**Describe the bug**
When I imported the 2.1.5.Final version of infinispan-spring-boot, I found that Infinispan-core and Infinispan-commons did not upgrade to 9.4.11.Final, or 9.1.7.Final

**To Reproduce**
1. My maven pom.xml configuration is as follows:
[code]
2. Pulled out the jar package:
![image](https://user-images.githubusercontent.com/46556397/56713953-dbe3ad80-6765-11e9-8f3c-afef1a810d84.p

[2019-04-25 08:47] karesti commented on #114
@mingfer Would you please post your pom?

[2019-04-25 08:57] mingfer commented on #114
https://github.com/mingfer/demo/blob/master/demo-postgresql/pom.xml

[2019-04-25 09:10] karesti commented on #114
You re using 2.0.2.RELEASE of Spring-Boot: https://github.com/mingfer/demo/blob/master/pom.xml#L14
This version brings 9.1.7.Final Infinispan, instead of the latest Infinispan version.

https://github.com/spring-projects/spring-boot/blob/2.0.x/spring-boot-project/spring-boot-dependencies/pom.xml#L80

You need to override the property to use the infinispan version you need.
I would also recommend t

[2019-04-25 09:10] #114 closed

[2019-07-16 14:24] TehBakker opened #117 "[Documentation] Update Spring Documentation"
Just a quick note on the read me, in the [Customization](https://github.com/infinispan/infinispan-spring-boot#customization) part for embedded mode, your exemple for "small-cache" uses an attribut baseCache which is not defined.

I used the cacheManager.getDefaultCacheConfiguration() but the ConfigurationBuilder does not seems to have a "memory" method.
I'm using SpringBoot1 and the version for in

[2019-07-16 14:26] #117 closed

[2019-07-16 14:27] TehBakker commented on #117
Nm found that I've to define an EvictionConfigurationBuilder if I want to have access to those methods for my version

[2019-09-09 13:11] ecostanzi opened #123 "InfinispanCacheMeterBinder throws NullPointerException when statistics-available="false""
**Describe the bug**
When statistics-available="false" the following exception occurs.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Clone this repo https://github.com/ecostanzi/spring-boot-infinispan-hibernate
2. run `./mvnw spring-boot:start`
3. The exception above is thrown

**Temporary Fix**
Change the CacheConfiguration by setting enabled(true):
[code]

**Expected behavior**
Wh

[2019-10-03 08:13] karesti commented on #123
I've opened the issue: https://issues.jboss.org/browse/ISPN-10712
Will be fixed on the next release with the upgrade of SB version
Thank you!

[2020-01-13 15:50] #123 closed

[2020-01-16 15:09] dominioon opened #130 "InfinispanEmbeddedAutoConfiguration starts DefaultCacheManager too early"
It is not possible to declare cluster listeners before DefaultCacheManager starts. The following code does not work (ie, does not print "Cache started"):

##### ClusterListener.java
[code]

##### CacheConfiguration.java
[code]

The reason is that [new DefaultCacheManager(GlobalConfiguration,Configuration)](https://github.com/infinispan/infinispan-spring-boot/blob/115d6a6b7dfab0b523610d107985feaf8f

[2020-01-23 14:22] karesti commented on #130
@dominioon  nice catch, correction coming in the next release

[2020-01-23 14:41] karesti commented on #130
https://issues.redhat.com/browse/ISPN-11195

[2020-01-23 14:41] #130 closed

[2020-04-22 07:20] karesti opened #146 "Add Spring-Boot unit tests sessions embedded"
Add a unit test for spring-session

https://github.com/infinispan/infinispan-spring-boot/tree/master/infinispan-spring-boot-samples/session-embedded

[2020-04-22 07:21] karesti opened #147 "Add unit tests for remote examples"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-06-29 17:05] juliojgd opened #152 "Issue with hardwired marshaller"
https://github.com/infinispan/infinispan-spring-boot/blob/785b74403dc4ba46257f34e62e7069a2d20953bd/infinispan-spring-boot-starter-remote/src/main/java/org/infinispan/spring/starter/remote/InfinispanRemoteAutoConfiguration.java#L118

Hello, the highlighted line is hardwiring `JavaSerializationMarshaller` regardless of the marshaller configured by a InfinispanRemoteConfigurer or any other form of pr

[2020-06-30 14:55] karesti commented on #152
@juliojgd which marshaller would you like to use? overriding the marshaller should be working. The idea for this change was to override the default infinispan marshaller that does not work with spring session objects right now. But using an additional configurer should override this. However might indeed be a bug. I'm releasing the starter soon with the upcoming 11.0.1.Final.
Could you please prov

[2020-06-30 15:00] juliojgd commented on #152
@karesti The InfinispanRemoteConfigurer is applied before the referenced line.

How a configurer could possibly change this hardwired Marshaller if this hardwiring is donde in the **last line** before building the RemoteCacheManager? And after the appying of any configurer and properties) And I saw that is not possible to change the marsahller in a already built 'RemoteCacheManager '

Am I missing

[2020-06-30 15:05] karesti commented on #152
@juliojgd again, this is probably a bug introduced to fix that the protostream marshaller does not work with spring session and spring data right now.  Which marshaller would you like to use?
Maybe we should let users to configure always the marshaller instead of trying to avoid the configuration.

[2020-06-30 15:10] juliojgd commented on #152
If the documentation says that the marshaller can be freely chosen using a configuration property,  I think it should let the user chose the marshaller by means of that property, the problem is not for a specific marshallerI need to use.
In addition I think the builder is not used according to the builder pattern, making changes after building it.
If you want help with this I can issue a PR, pleas

[2020-06-30 15:16] karesti commented on #152
@juliojgd concerning the builder, infinispan adds white list classes and these classes were not accessible from the builder object without building it. because if these marshaller changes, to get those white list classes and add them to the builder object, I needed to call "build" before. It's not code I'm happy about, and not the way the builder should be using generally speaking, but this is the

[2020-06-30 15:18] karesti commented on #152
the documentation and the change was unaliged. I just wanted to avoid users to set up a marshaller all the time and deal with the white list classes of spring :(((
I will log a jira and remove the change of the hardcoded marshaller

[2020-06-30 15:33] karesti commented on #152
https://issues.redhat.com/browse/ISPN-12069

[2020-06-30 15:40] karesti commented on #152
@juliojgd would you mind testing with this ? https://github.com/infinispan/infinispan-spring-boot/pull/153

[2020-06-30 15:51] karesti commented on #152
@juliojgd we are bringing some of the tutorials that were in the repo into https://github.com/infinispan/infinispan-simple-tutorials/pull/107 (going to get merged soon)

we are releasing 11.0.1.Final very soon so I think I will upgrade here and release the starter once this is done

[2020-06-30 16:01] juliojgd commented on #152
Sure, I'll get to you with the test results.

[2020-06-30 16:08] karesti commented on #152
in 11.0.1.Final we do have a new testing utility with infinispan remote out of the box and test containers.
happy to get feedback if you use it :)

[2020-06-30 21:41] juliojgd commented on #152
With this change https://github.com/infinispan/infinispan-spring-boot/pull/153 I have been able to change the marshaller and add a regexp to the whitelist by means of a InfinispanRemoteConfigurer. Sounds good for me. Thanks for the quick fix 😄

[2020-07-01 10:10] #152 closed

[2020-07-01 10:52] karesti commented on #152
@juliojgd we have just released 2.3.1.Final. just the time it lands to maven central

[2020-10-14 22:42] #147 closed

[2020-10-14 22:42] #146 closed

[2020-11-27 14:15] asmirnou opened #161 "InfinispanCacheMeterBinder throws NullPointerException when statistics-available="false""
**Describe the bug**

When cache is _simple_, statistics is not _available_ and Infinispan embedded metrics are exposed using Micrometer, the following exception occurs:

[code]

**To Reproduce**

Steps to reproduce the behavior:
1. Clone this repo https://github.com/asmirnou/infinispan-spring-boot-npe
2. Run `./gradlew bootRun`
3. The exception above is thrown

**Expected behavior**

`InfinispanC

[2020-12-01 13:13] karesti commented on #161
thank you @asmirnou ! I will open a jira

[2021-03-20 15:05] giosefer opened #167 "SocketTimeoutException: FaultTolerantPingOperatio with the Spring Boot 2.4.3"
The deploy of my project with **Spring Boot 2.4.3** and **infinispan-spring-boot-starter (version: 2.3.1.Final)**  fails because cannot connect to Infispan 11.0.9 (Corona Extra). The error is the following:
![Untitled](https://user-images.githubusercontent.com/18004064/111874504-ea5c9300-8995-11eb-8b58-72e25527d5ca.png)

it works instead if I use the version **Spring Boot 2.1.X**

Thanks,
Giuseppe

[2021-03-20 17:06] tristantarrant commented on #167
I doubt the spring boot version matters much here, since it is the hot rod client which is performing the connection. Can you share the client configuration properties?

[2021-03-20 17:24] giosefer commented on #167
thanks for you information.
This is bean configuration to connect infinispan:

@Primary
	@Bean(name = "cacheManager")
	public CacheManager cacheManager() throws Exception {

		ConfigurationBuilder builder = new ConfigurationBuilder();
		builder.addServer().host(dataGridAddress).port(dataGridPort);

		if (env.getProperty(RETRIES_ENV_NAME) != null) {
			Integer retries = Integer.parseInt(env.getProp

[2021-03-20 17:35] tristantarrant commented on #167
Can you provide the dependency tree which starts from the Infinispan
components?
mvn dependency:tree

On Sat, 20 Mar 2021, 18:24 giosefer, ***@***.***> wrote:

[2021-03-20 17:42] tristantarrant commented on #167
The best thing to do is to get TRACE logs for `org.infinispan` in your client, so we can see what happens.

[2021-03-20 17:45] giosefer commented on #167
in attachment you can find the mvn depencdency tree.
ok for the trace log ... I do an analysis and let you know.

[mvn-dep-tree.txt](https://github.com/infinispan/infinispan-spring-boot/files/6176079/mvn-dep-tree.txt)
thank you

[2021-03-20 17:58] giosefer commented on #167
@tristantarrant you can find in attachment the log trace.

Thanks!
[Uploading log-trace.txt…]()

[2021-10-14 19:38] ricardozanini opened #168 "RemoteInfinispanCacheMeterBinder throws NPE if cache is null"
**Describe the bug**
Hi!

If you have the actuator in the classpath and the `@EnableCaching` annotation enabled with Infinispan Remote, the metrics configuration might fail to register. The `RemoteInfinispanCacheMeterBinderProvider` is invoking `RemoteInfinispanCacheMeterBinder` with `null` value:
https://github.com/infinispan/infinispan/blob/12.1.7.Final/spring/spring-boot/remote/src/main/java/or